.mat-toolbar {
  background-color:#3f51b5 ;
  .mat-raised-button {
    margin-left: 5px;
    padding: 2px;
  }
  color: white;

}

.antenna {
margin-right: 7px;
width: 35px;
height: 35px;
}

.buttons {
  position: absolute;
  right: 15px;
}

//background-color: #3f51b5;
//


