<div class="card-container" >
    <form autocomplete="off" [formGroup]="forma" (ngSubmit)="register()" >
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title class="card-title">REGISTRO</mat-card-title>
          <mat-card-subtitle class="card-subtitle">Ingresa tus datos de registro</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-xs">
              <mat-form-field>
                <input
                      formControlName="nombre"
                       matInput type="text"
                       placeholder="Nombre">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs">
              <mat-form-field>
                <input  formControlName="email"
                        matInput
                        type="email"
                        placeholder="Email">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs">
              <mat-form-field>
                <input formControlName="password"
                        matInput type="password"
                        placeholder="password"
                        autocomplete="new-password">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs botones">
              <button mat-raised-button 
                      color="primary" 
                      type="submit"
                      [disabled]="forma.invalid">
                      Registrarse
              </button>
              <button mat-stroked-button color="accent" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </mat-card-content>
       </mat-card>
    </form>
  </div>
