<app-header></app-header>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let img of images">
      <img [src]="img" alt="Imagen de Baaner">
    </div>
  </div>
</div>
<div class="container">
  IoTStations en una SPA(Single Page Aplication) creada para unificar multiples tecnologias,
  como Arduino usando sensores (Temperatura, Humedad, GPS) ademas de multiples librerias
  para hacer envio de datos entre sensores y placas de desarrollo. Se usa firebase siendo este
  un backend como servicio y finalmente Angular 8 como framework frontend, el cual permite
  conectar al backend una forma muy sencilla.
  <br>
  <h3>Elementos de hardware usados en el proyecto</h3>
  <ul>
    <li>Linkit One</li>
    <li>NodeMCU</li>
    <li>DHT-11</li>
    <li>Dsiplay OLED 128x64 I2C</li>
  </ul>
  <div class="img-container">
    <img src="../../../../assets/IoTStations.jpg" alt="prototipo">
  </div>
  
</div>
