<div class="header">
  <h1>Listado de Estaciones</h1>
</div>
<hr>
<div class="logout">
  <button mat-stroked-button color="primary" (click)="logout()">
    <mat-icon>arrow_forward</mat-icon>
      LogOut
  </button>
</div>
<div class="container">
  <mat-card class="station-card"  *ngFor="let estacion of estaciones">
      <mat-card-header>
          <mat-card-title>Estacion: {{estacion.id}}</mat-card-title>
          <mat-card-subtitle>Estado: {{estacion.state ? 'Encendida' : 'Apagada'}}</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="assets/antena.png">
      <button class="boton-card" mat-raised-button color="primary"
      (click)= "seeStation(estacion.id)">Ingresar</button>
    </mat-card>
</div>
