<div class="container">
  <div class="author">
    <b>{{fecha | date:"yyyy"}} <img class="copyrigth" src="assets/copyright.svg" width="15px" height="15px" alt="">FERNANDO ESPAÑA</b>
  </div>
  <div class="footer-social">
    <a target="_blank" href="https://github.com/FernandoEspana">
      <img src="assets/gitHubIcon.svg" width="30px" height="30px" alt="">
    </a>
    <a target="_blank" href="https://twitter.com/FernandPlus">
      <img src="assets/twitterIcon.svg" width="30px" height="30px" alt="">
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/fernandojavierespa%C3%B1a/">
      <img src="assets/linkedinIcon.svg" width="30px" height="30px" alt="">
    </a>
  </div>
</div>
