.container {

  color:#3f51b5;
  text-align: center;



}
.author {
  padding-top:10px;
 padding-bottom:15px;
}
img {
  color: #3f51b5;
  margin-right: 15px;
}
.copyrigth {
  margin-right: 3px !important;
}




